{% extends 'template_base/ClientBase.html' %}

{% set active_page = "contest" %}

{% block page_title %} Contest {% endblock %}

{% block custom_styles %}
{% endblock %}

{% block client_body %}
    <!-- Content page -->
<section class="bg0 p-t-75 p-b-120 mt-5">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Beauty Pageant
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        2019 model hunt begins with a great expectations, not only to give a beautiful face with knowledge, Courage to help and guide people with a eco friendly lifestyle, inspiration, confident, poise, beautiful portfolio, preparedness.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="{{ url_for('static', filename='res/images/pg2.jpg') }}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h4 class="mtext-111 cl2 p-b-16">
                        Eligibility
                    </h4>
                    &nbsp;&nbsp;&nbsp;<h3 class="mtext-111 cl2 p-b-16">
                        Mr & Miss Alpha 2k19
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Male Candidate<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age: 17 to 21<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Height: 5.8" <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age: 21 to 29<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Height: 5.10" & above <br/><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Female Candidate<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age: 17 to 29<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Height: 5.5" & above (Without heels)<br/>
                    </p>

                    &nbsp;&nbsp;&nbsp;<h3 class="mtext-111 cl2 p-b-16">
                        Miss Super National 2k19
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Female Candidate<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age: 17 to 29<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Height: 5.1" to 5.4"<br/><br/>
                    </p>
                    <h3 class="mtext-111 cl2 p-b-16">
                        Activities
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                       Models Male, Female should be below the age 29. Mr & Miss Alpha 2k19, is the national level beauty  pageant organized by the SHADOW fashion.
                        For a better tomorrow. This is Specially organized to give the good Platform for those who aspire to be a successful model &  enter the glamour industry &
                        work for society. Main cause of this event is to educate people about being eco-friendly & disciplined. The pageant gives good exposure to the contestants & partners all over india.
                        <br/>Auditions will be conducted at the main metropolitan cities of India & Finale will be held in Karnataka. Contestants participating from various part of the country. Finale Guests will be
                        Professional models & Celebrities, entrepreneurs directors, producers & Fashion Designers.
                    </p>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="{{ url_for('static', filename='res/images/eli.jpeg') }}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-11 col-md-6 mx-auto mt-5">
                <h1 class="mtext-111 cl2 p-b-16 text-center">Participation Requirements</h1>
                <p class="stext-113 cl6 p-b-26 mt-4">
                        1. <b>Three</b> H.D Pics (<b>two</b> Full & <b>one</b> Closeup) Wearing body fit outfits<br/>
                        2. Address and personal details should fill as per application form<br/>
                        3. Contestants must have Facebook And Instagram Profile (Twitter or SnapChat)<br/>
                        4. Contestants must have ID proof Aadhar card & College ID or Letter from College or institutions<br/>
                        5. Contestants must post every poster provided by the Organisers & Sponsors in social Mediafeeds<br/>
                        6. Click <a href="{{ url_for('get_participation_form') }}"><b>here</b></a> to download the form<br/>
                        7. After filling the details send it to the following email <b style="color:blue;">info@theshadowfashion.com</b>
                        &nbsp;&nbsp;&nbsp;For more details contact <b>+91 773 857 3954</b>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_scripts %}
{% endblock %}
