{% extends 'template_base/AuthBase.html' %}

{% set active_page = "signup" %}

{% block page_title %} SignUp {% endblock %}

{% block custom_styles %}
{% endblock %}


{% block client_body %}
    <div class="row">
        <div class="col-5">
            <h2 class="w-100 mb-5">SignUp</h2>
        </div>
        <div class="col-6">
            <h2 class="w-100 mb-5 text-right">
                <a href="{{ url_for('index') }}"><i class="fa fa-home"></i></a>
            </h2>
        </div>
    </div>
    <div class="">
    <form id="signup_form">
            <div class="form-row">
                <div class="col-md-11 mb-3">
                    <label for="account_type">Sign Up For</label>
                    <select class="form-control" id="account_type" name="account_type">
                        <option value="none">Select An Account Type</option>
                        {% for key, value in account_type_dict.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback" id="account-type-invalid" style="display:None">
                        Please choose a account type.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="fname">First name</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="First name" required>
                    <div class="invalid-feedback" id="fname-invalid-select" style="display:None"> </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="sname">Last name</label>
                    <input type="text" class="form-control" id="sname" name="sname" placeholder="Last name" required>
                    <div class="invalid-feedback" id="sname-invalid-select" style="display:None"> </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-11 mb-3">
                    <label for="uname">User Name</label>
                    <input type="text" class="form-control" id="uname" name="uname" placeholder="User Name for the account" required>
                    <div class="invalid-feedback" id="uname-invalid-select" style="display:None"> </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="none">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <div class="invalid-feedback" id="gender-invalid-select" style="display:None">
                        Please choose a gender.
                    </div>
                </div>
                <div class="col-md-7 mb-3">
                    <label for="dob">D.O.B</label>
                    <input type="date" class="form-control" id="dob" name="dob" placeholder="Date Of Birth" required>
                    <div class="invalid-feedback" id="dob-invalid-select" style="display:None"> </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-11 mb-3">
                    <label for="email">Email ID</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email ID" required>
                    <div class="invalid-feedback" id="email-invalid-select" style="display:None"> </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-11 mb-3">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone No." required>
                    <div class="invalid-feedback" id="phone-invalid-select" style="display:None"> </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-11 mb-3">
                    <label for="st">House/Apt. No.</label>
                    <input type="text" class="form-control" id="street_apt" name="street_apt" placeholder="Street / Apt." required>
                    <div class="invalid-feedback" id="streetapt-invalid-select" style="display:None"> </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="state">State</label>
                    <select class="form-control" id="state" name="state">
                    </select>
                    <div class="invalid-feedback" id="state-invalid-select" style="display:None">
                        Please choose the state.
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="district">District</label>
                    <select class="form-control" id="district" name="district">
                    </select>
                    <div class="invalid-feedback" id="district-invalid-select" style="display:None">
                        Please choose a district.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Your City" required>
                    <div class="invalid-feedback" id="city-invalid-select" style="display:None">
                        Please select your city.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="pin">Pin Code</label>
                    <input type="text" class="form-control" id="pin" name="pin" placeholder="Pin Code" required>
                    <div class="invalid-feedback" id="pin-invalid-select" style="display:None"> </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" name="password" placeholder="Password" required>
                    <div class="invalid-feedback" id="pass-invalid-select" style="display:None"> </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="rpass">Re-Tyep Password</label>
                    <input type="password" class="form-control" id="rpass" placeholder="Retype Password" required>
                    <div class="invalid-feedback" id="rpass-invalid-select" style="display:None"> </div>
                </div>
            </div>
            <div class="mt-4 text-center">
                <button class="btn btn-primary mb-4" id="button_validate_signup" type="button">SignUp</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename = 'res/js/signup_script.js') }}"></script>
<script src="{{ url_for('static', filename = 'res/js/state.js') }}"></script>
{% endblock %}
